@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import "~bootstrap/scss/bootstrap";

.trivia {
  font-family: "Shadows Into Light", cursive;
  font-size: 120px;
  text-align: center;
}

.small-trivia {
  font-family: "Shadows Into Light", cursive;
  font-size: 80px;
  text-align: center;
}

body {
  font-family: "Shadows Into Light", cursive;
}

.list-group-item {
  font-size: 1.8em;
}
