@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import "~bootstrap/scss/bootstrap";

.trivia {
  font-family: "Shadows Into Light", cursive;
  font-size: 120px;
  text-align: center;
}
